\begin{center} 
Chun-Yuan (Scott) Chiu 
\end{center}

\begin{center} 
chunyuac@andrew.cmu.edu 
\end{center}

# 1. {-}

## (a) {-}

In [19]:
X

       age           job   marital  education default  balance housing loan
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47   blue-collar   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45206   51    technician   married   tertiary      no      825      no   no
45207   71       retired  divorced    primary      no     1729      no   no
45208   72       retired   married  secondary      no     5715      no   no
45209   57   blue-collar   married  secondary      no      668      no   no
45210   37  entrepreneur   married  secondary      no     2971      no   no

[45211 rows x 8 columns]

In [23]:
{col: np.unique(X[col]).shape[0] for col in ['job', 'marital', 'education', 'default', 'housing', 'loan']}

{'job': 12,
 'marital': 3,
 'education': 4,
 'default': 2,
 'housing': 2,
 'loan': 2}

In [25]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

X = pd.read_csv('marketing.csv')
y = np.where(X.pop('y')=='yes', 1, 0)

pd.get_dummies(X, columns=['job', 'marital', 'education', 'default', 'housing', 'loan'], drop_first=True)




# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
# y_train.sum()/len(y_train)

,age,balance,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,job_unemployed,job_unknown,marital_married,marital_single,education_secondary,education_tertiary,education_unknown,default_yes,housing_yes,loan_yes
0,58,2143,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
1,44,29,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
2,33,2,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,1
3,47,1506,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0
4,33,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
45207,71,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45208,72,5715,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
45209,57,668,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
45210,37,2971,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0

## (b) {-}