
\begin{center}
Chun-Yuan (Scott) Chiu
\end{center}
\begin{center}
chunyuac@andrew.cmu.edu
\end{center}

# 1. {-}

## 1.1 {-}

In [13]:
import pandas as pd
from sklearn.preprocessing import Normalizer

df = pd.read_csv('stocksample.txt', sep='\t', index_col='symb')
df = df[df.columns[3:]]
df.shape, df.mean().shape

((1000, 30), (30,))

In [9]:
df.head()

,2017-08-18,2017-08-21,2017-08-22,2017-08-23,2017-08-24,2017-08-25,2017-08-28,2017-08-29,2017-08-30,2017-08-31,...,2017-09-18,2017-09-19,2017-09-20,2017-09-21,2017-09-22,2017-09-25,2017-09-26,2017-09-27,2017-09-28,2017-09-29
symb,,,,,,,,,,,,,,,,,,,,,
NEWM,13.500000,13.480000,13.730000,13.550000,13.630000,13.710000,13.770000,13.680000,13.790000,13.790000,...,13.830000,13.840000,14.020000,14.050000,14.210000,14.500000,14.610000,14.730000,14.820000,14.790000
DMO,25.806456,25.874651,26.274071,25.866224,25.561569,25.630362,25.600880,25.767948,25.836744,25.807261,...,25.099674,25.080019,25.129154,25.173771,25.243176,25.183687,25.203516,25.084538,25.163857,25.352240
VMW,96.269997,97.010002,99.930000,100.389999,100.830002,102.739998,104.680000,104.930000,106.959999,108.099998,...,109.980003,109.680000,110.129997,109.070000,109.150002,107.519997,107.830002,109.209999,109.199997,109.190002
CCI,103.177513,103.881088,104.782845,105.139587,105.773796,106.021530,106.080994,106.051262,106.298996,107.458412,...,104.489998,102.160004,101.839996,101.599998,100.599998,100.129997,99.570000,99.989998,100.540001,99.980003
MNK,36.389999,36.130001,37.119999,37.209999,38.250000,39.009998,38.980000,39.139999,39.369999,41.080002,...,33.759998,34.070000,34.490002,34.860001,34.830002,35.250000,34.669998,35.389999,36.139999,37.369999